@keyframes underline {
  to {
    width: 100%;
    left: 0;
  }
}

.group {
  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #{$primaryColor}; /* Use the text color as the underline color */
    bottom: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease;
    animation: underline 0.3s ease-in-out forwards;
  }
}
